* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}
body {
  font-size: 16px;
}
main {
  background-size: 60%;
}
header {
  display: flex;
  margin: 0 auto;
  padding: 2.5rem 0;
  align-items: center;
}
ul {
  list-style-type: none;
}
nav.desk ul {
  display: flex;
  align-items: center;
}
nav.desk ul li {
  color: hsl(228, 39%, 23%);
  font-size: 0.8rem;
  font-weight: 500;
}
nav.desk ul li:hover {
  color: hsl(227, 12%, 61%);
}
nav.desk ul li:not(:last-child) {
  margin-right: 1.7rem;
}
nav li, button {
  cursor: pointer;
}
header button,
main section:first-of-type button,
main section:nth-of-type(3) button {
  border: none;
  background: hsl(12, 88%, 59%);
  color: white;
  padding: 0.9rem 1.8rem;
  border-radius: 2rem;
  font-size: 0.7rem;
  font-weight: 500;
  box-shadow: 0 5px 10px hsl(13, 96%, 78%);
}
header button:hover,
main section:first-of-type button:hover,
main section:nth-of-type(3) button:hover {
  opacity: 80%;
}
main section:first-of-type, main section:nth-of-type(2) {
  margin: 0 auto;
  padding: 2.5rem 0;
}
main section:first-of-type > div > img {
  width: 100%;
}
h1, h2, h3, h4 {
  color: hsl(228, 39%, 23%);
}
h1 {
  font-size: 3rem;
  margin-bottom: 1.1rem;
}
section p {
  font-size: 0.9rem;
  color: hsl(227, 12%, 61%);
  line-height: 1.3rem;
  margin-bottom: 1.6rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}
h3 {
  font-size: 0.9rem;
  padding: 0.5rem 0;
  margin-bottom: 0.3rem;
}
.spec span {
  display: inline-block;
  width: 3.5rem;
  color: white;
  padding: 0.4rem 1.2rem;
  border-radius: 2rem;
  margin-right: 1rem;
  background: hsl(12, 88%, 59%);
}
.spec p {
  padding-left: 5.2rem;
  width: 95%;
}
main section:nth-of-type(3) {
  padding: 2.5rem 0;
}
main section:nth-of-type(3) h2 {
  text-align: center;
}
main section:nth-of-type(3) > div {
  padding: 2rem 0;
  padding-bottom: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}
.reviews {
  flex-shrink: 0;
  padding: 1.5rem;
  padding-top: 3rem;
  background: hsl(0, 0%, 98%);
  position: relative;
}
.reviews:not(:last-child) {
  margin-right: 1rem;
}
.reviews img {
  width: 3rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reviews h4, .reviews p {
  text-align: center;
  margin-bottom: 0;
}
.reviews h4 {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
#slide {
  display: none;
}
main section:nth-of-type(3) button {
  display: block;
  margin: 0 auto;
}
main section:last-of-type {
  background-color: hsl(12, 88%, 59%);
  background-repeat: no-repeat;
  display: flex;
  margin-top: 4rem;
}
main section:last-of-type h2 {
  color: white;
  width: 45%;
  margin-bottom: 0;
}
main section:last-of-type button {
  background: white;
  padding: 0.9rem 1.8rem;
  border-radius: 2rem;
  font-size: 0.7rem;
  color: hsl(12, 88%, 59%);
  border: none;
  font-weight: 700;
}
main section:last-of-type button:hover {
  color: hsl(12, 85%, 74%);
}
footer {
  background: hsl(233, 12%, 13%);
  position: relative;
}
footer .social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .social ul {
  display: flex;
  align-items: center;
}
.social li i {
  color: hsl(0, 0%, 98%);
  font-size: 1.3rem;
}
.social li i:hover {
  color: hsl(12, 88%, 59%);
}
footer .social ul li:not(:last-child) {
  margin-right: 0.8rem;
}
footer > div:nth-of-type(2) li {
  color: hsl(0, 0%, 98%);
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 85%;
  cursor: pointer;
}
footer > div:nth-of-type(2) li:hover {
  color: hsl(12, 88%, 59%);
}
footer > div:nth-of-type(2) li:not(:last-child) {
  margin-bottom: 1rem;
}
footer h5 {
  position: absolute;
  color: hsl(227, 12%, 61%);
  font-weight: 400;
}
footer form {
  display: flex;
  align-items: center;
  min-width: 250px;
  position: relative;
}
footer input, footer button {
  padding: 0.9rem 1.3rem;
  border-radius: 2rem;
  font-size: 0.7rem;
  border: none;
}
footer input {
  display: block;
  width: 100%;
  background: white;
  margin-right: 0.4rem;
  caret-color: hsl(12, 88%, 59%);
}
footer input:focus {
  outline: none;
}
::placeholder {
  color:hsl(227, 12%, 61%);
}
::-webkit-input-placeholder {
  color:hsl(227, 12%, 61%);
}
::-moz-placeholder {
  color:hsl(227, 12%, 61%);
}
footer button {
  background: hsl(12, 88%, 59%);
  color: white;
  font-weight: 700;
}
footer button:hover {
  background:hsl(12, 85%, 74%);
}
.alert {
  display: none;
  position: absolute;
  bottom: 0;
  left: 1.3rem;
  color: hsl(12, 88%, 59%);
  font-size: 0.7rem;
  font-style: italic;
  transform: translateY(calc(100% + 0.3rem));
}

@media screen and (min-width:992px) {
  .mob {
    display: none;
  }
  main {
    background-image: url("images/bg-tablet-pattern.svg"), url("images/bg-tablet-pattern.svg") ;
    background-repeat: no-repeat;
    background-position: 140% -15%, -95% 160vh;
    max-width: 1440px;
    margin: 0 auto;
  }
  header {
    width: 80%;
    justify-content: space-between;
  }
  main section:first-of-type, main section:nth-of-type(2) {
    width: 80%;
    display: flex;
  }
  main section:first-of-type {
    align-items: center;
  }
  main section:first-of-type > div, main section:nth-of-type(2) > div {
    width: 50%;
  }
  main section:first-of-type p {
    width: 70%;
  }
  .aboutmanage {
    padding-right: 10%;
  }
  .aboutmanage p {
    width: 75%;
  }
  main section:nth-of-type(3) > div {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  main section:nth-of-type(3) > div::-webkit-scrollbar {
    height: 5px;
    background: hsla(0, 0%, 98%, 50%);
  }
  main section:nth-of-type(3) > div::-webkit-scrollbar-thumb {
    background: hsl(13, 96%, 78%);
  }
  main section:nth-of-type(3) > div::-webkit-scrollbar-thumb:hover {
    background:hsl(12, 88%, 59%);
  }
  .reviews {
    width: 35%;
    min-width: 450px;
    scroll-snap-align: center;
  }
  main section:last-of-type {
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10%;
    background-image: url("images/bg-simplify-section-desktop.svg");
    background-size: auto;
  }
  footer {
    padding: 2.5rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer .social {
    flex-direction: column;
  }
  footer .social .logo {
    margin-bottom: 4.5rem;
  }
  footer > div:nth-of-type(2) {
    display: flex;
    align-items: flex-start;
    width: 30%;
    justify-content: space-between;
  }
  footer h5 {
    right: 10%;
    bottom: 2.5rem;
  }
}

@media only screen and (min-width:601px) and (max-width:991px) {
  .mob {
    display: none;
  }
  main {
    background-image: url("images/bg-tablet-pattern.svg"), url("images/bg-tablet-pattern.svg") ;
    background-repeat: no-repeat;
  }
  main {
    background-position: 120% -5%, -95% 160vh;
  }
  header {
    width: 90%;
    justify-content: space-between;
  }
  header button {
    display: none;
  }
  h1, section:nth-of-type(2) h2 {
    text-align: center;
  }
  h1 {
    font-size: 2.5rem;
  }
  main section:first-of-type, main section:nth-of-type(2) {
    width: 90%;
  }
  section .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
  }
  main section:nth-of-type(3) > div {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  main section:nth-of-type(3) > div::-webkit-scrollbar {
    height: 5px;
    background: hsla(0, 0%, 98%, 50%);
  }
  main section:nth-of-type(3) > div::-webkit-scrollbar-thumb {
    background: hsl(13, 96%, 78%);
  }
  main section:nth-of-type(3) > div::-webkit-scrollbar-thumb:hover {
    background:hsl(12, 88%, 59%);
  }
  .reviews {
    width: 50%;
    min-width: 450px;
    scroll-snap-align: center;
  }
  main section:last-of-type {
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10%;
    background-image: url("images/bg-simplify-section-desktop.svg");
    background-size: auto;
  }
  footer {
    padding: 2.5rem 5%;
  }
  footer .social {
    margin-bottom: 2rem;
    flex-direction: column;
  }
  footer .social .logo {
    margin-bottom: 4.5rem;
  }
  footer > div:nth-of-type(2) {
    display: block;
  }
  footer > div:nth-of-type(2) ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
  }
  footer > div:nth-of-type(2) ul li:not(:last-child) {
    margin: 0;
  }
  form {
    margin-bottom: 2rem;
  }
  footer h5 {
    right: 10%;
    bottom: 2.5rem;
  }
}

@media only screen and (max-width:600px) {
  main {
    background-image: url("images/bg-tablet-pattern.svg"), url("images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 125%, 100%;
    background-position: 10vh -25vh, 45vh 80vh;
  }
  .desk {
    display: none;
  }
  header {
    padding: 2.5rem 1rem;
    justify-content: space-between;
    position: relative;
  }
  header img {
    cursor: pointer;
  }
  #open, #close {
    display: block;
    width: 1.3rem;
  }
  #menu {
    display: flex;
    opacity: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    background: linear-gradient(to bottom, transparent , rgba(0, 0, 0, 0.7));
    padding: 2.4rem 1rem;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.5s ease;
  }

  #menu ul {
    width: 100%;
    background: white;
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    padding: 2rem 0;
  }
  #menu ul li {
    color: hsl(233, 12%, 13%);
    font-weight: 700;
    font-size: 0.9rem;
    font-family: "Be Vietnam Pro", sans-serif;
  }
  #menu ul li:not(:last-child) {
    margin-bottom: 1rem;
  }
  main section:first-of-type {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 2.5rem 1rem;
    padding-top: 0;
  }
  main section > div.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .text h1, .text p, h2, .aboutmanage p {
    text-align: center;
  }
  .aboutmanage h1, .aboutmanage p {
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .spec {
    margin-bottom: 2rem;
  }
  .spec h3 {
    color: hsl(228, 39%, 23%);
    background: hsl(13, 100%, 96%);
    padding: 0;
    border-radius: 2rem 0 0 2rem;
    margin-bottom: 1rem;
  }
  .spec p {
    width: 100%;
    padding-left: 0;
  }
  main section:nth-of-type(3) {
    padding-bottom: 0;
  }
  main section:nth-of-type(3) > div {
    overflow-x: scroll;
    margin-bottom: 0;
    scroll-snap-type: x mandatory;
  }
  main section:nth-of-type(3) > div::-webkit-scrollbar {
    display: none;
    height: 5px;
    background: hsla(0, 0%, 98%, 50%);
  }
  main section:nth-of-type(3) > div::-webkit-scrollbar-thumb {
    background: hsl(13, 96%, 78%);
  }
  main section:nth-of-type(3) > div::-webkit-scrollbar-thumb:hover {
    background:hsl(12, 88%, 59%);
  }
  .reviews {
    width: 100%;
    scroll-snap-align: center;
  }
  #slide {
    display: block;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bcircle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: hsl(12, 88%, 59%);
    position: relative;
    cursor: pointer;
  }
  .bcircle:not(:last-child) {
    margin-right: 0.3rem;
  }
  #slide li.active .circle {
    background: transparent;
  }
  .circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    position: absolute;
    left: 2px;
    top: 2px;
  }
  section:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 1rem;
    background-image: url("images/bg-simplify-section-mobile.svg");
    background-position: left center;
  }
  main section:last-of-type h2 {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  footer {
    padding: 3rem 1rem;  
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
  }
  footer .social {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  footer .social ul {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  footer .social ul li:not(:last-child) {
    margin-right: 0;
  }
  footer > div:nth-of-type(2) {
    padding: 0 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
  }
  footer form {
    width: 100%;
    margin-bottom: 2rem;
  }
  footer h5 {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5rem;
    text-align: center;
  }
}
